html {
    overflow-x: hidden;
}
body {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px;
    overflow: hidden;
}


.top_header {
    background-image: url(/images/banner_back.jpg);
    background-size: 92% 100%;
    background-repeat: no-repeat;
    padding-bottom: 21px;